<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code your text</title>
</head>
<body>

<form th:action="@{/codeText}" th:object="${textToCode}" method="post">
    <p>password shouldn't be shorter than provided text</p>
    <input th:field="*{textForCrypt}" type="text" placeholder="Enter text for crypt">
    <input th:field="*{secretKey}" type="text" placeholder="Enter password">

    <p th:text="*{publicKey}"></p>
    <button type="submit">Crypt text</button>
    <br/>
</form>

</body>
</html>
